.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  
  .card{
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .searchbar {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
   
  //   Input {
  //     border-color: black;
  //   }
  // }
  // .search {
  //   margin-left: 5px;
  // }
  .searchbar{
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      .search{
        margin: 0.5rem;
      }
    }
  }
 
}
